---
http_interactions:
- request:
    method: get
    uri: https://webopenapi.hccg.gov.tw/v1/Activity?top=10
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"serno":"202507150003","pubunitdn":"OU=5000,OU=hsinchu,DC=hccg,DC=local","pubunitname":"文化局","subject":"[展覽][美術館]沉默顯影記－白盒子裡的不／可見","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\">在白盒子裡，讓模糊的逐漸清晰、沉默的被釋放開來，試問：「沉默如何顯影?」<br
        />\n&nbsp;<br />\n本展覽意圖翻轉觀眾習以為常的視覺經驗，探索並觸發美術館空間中多元感知的可能。在靜態的展示中搭建一座動態操演的舞台，以低限線條勾勒空間的紋理，於看似尋常的描繪裡，滲入藝術家對客體內在世界的哲思。空白與模糊，成為鬆動白盒子疆界的縫隙，開啟無限想像的通道。<br
        />\n「現身/獻聲」試圖以個體的輪廓，映照出藝文工作者當下的集體處境， 回返空間中那些潛伏卻關鍵的關係網絡。圖像與文字看似無所指涉，實則揭示了當中的環境感知、科層體制、勞動行為與權力結構，也潛藏有戲劇性與互文的張力。<br
        />\n五位藝術家分別通過低限素描、文字書寫、觀念攝影、紀錄片、操演工作坊與民眾劇場等多重媒介，逐層揭露美術館中可見與不可見之間的拉鋸及流動。無聲的小劇場得以被召喚，原本靜默的展覽空間，在觀者的感知與參與中逐步發聲。</div>\n</div>\n</div>\n","posterdate":"20250715","closedate":"","startusing":"1","liaisonper":"","liaisontel":"","liaisonfax":"","liaisonemail":"","readnumber":"1003","subjectid":"4","subjectclass":"[400]教育文化","administationid":"13","administationclass":"[D00]文化及觀光","serviceid":"9","serviceclass":"[900]休閒旅遊","languagetype":"chinese","copyright":"","voice":"在白盒子裡，讓模糊的逐漸清晰、沉默的被釋放開來，試問：「沉默如何顯影?」\n
        \n本展覽意圖翻轉觀眾習以為常的視覺經驗，探索並觸發美術館空間中多元感知的可能。在靜態的展示中搭建一座動態操演的舞台，以低限線條勾勒空間的紋理，於看似尋常的描繪裡，滲入藝術家對客體內在世界的哲思。空白與模糊，成為鬆動白盒子疆界的縫隙，開啟無限想像的通道。\n「現身/獻聲」試圖以個體的輪廓，映照出藝文工作者當下的集體處境，
        回返空間中那些潛伏卻關鍵的關係網絡。圖像與文字看似無所指涉，實則揭示了當中的環境感知、科層體制、勞動行為與權力結構，也潛藏有戲劇性與互文的張力。\n五位藝術家分別通過低限素描、文字書寫、觀念攝影、紀錄片、操演工作坊與民眾劇場等多重媒介，逐層揭露美術館中可見與不可見之間的拉鋸及流動。無聲的小劇場得以被召喚，原本靜默的展覽空間，在觀者的感知與參與中逐步發聲。","hostunit":"","jointunit":"","invite":"","activitysdate":"202508190900","activityedate":"202510191700","activityplace":"","activitydateremark":"周一休館","posterdatalist":[{"serno":"202507150003","detailno":1,"mserno":"201808270001","msernoname":"展覽活動","websitedn":"ou=hcccb,ou=ap_root,o=hccg,c=tw","websitename":"文化局","websiteexam":"Y","websiteexamdate":"","websiteexamname":"","istop":"N","topdate":"","datasort":999999,"examineemail":"1","examineexplain":""}],"filedatalist":[{"serno":"202507150003","detailno":1,"flag":"pic","clientfile":"沉默顯影記-文宣.png","serverfile":"202507231504130.png","expfile":"沉默顯影記－白盒子裡的不／可見海報","downloadpath":"https://www.hccg.gov.tw/uploaddowndoc?file=activity/202507231504130.png&filedisplay=沉默顯影記-文宣.png&flag=pic","downloadpdfpath":"","downloadodfpath":"","filesize":"225846","readnumber":"null","datasort":9999999}],"resourcedatalist":[],"mapdatalist":[]},{"serno":"202509120001","pubunitdn":"OU=5000,OU=hsinchu,DC=hccg,DC=local","pubunitname":"文化局","subject":"[展覽][241藝術空間]2025新竹美展","detailcontent":"<div
        class=\"zbox\">\n<div class=\"main-a_01\">\n<div class=\"main-a_03\">由新竹縣、市政府共同主辦的「2025新竹美展」得獎作品展，自10月1日至10月19日（星期日）於新竹241藝術空間及新竹縣政府文化局美術館同步展出。本屆共展出117件優秀作品，涵蓋西方媒材、影像暨數位內容科技媒體、立體暨造形藝術、東方媒材、書法篆刻、工藝設計等六大類，充分展現藝術創作的多元面貌。頒獎典禮將於10月4日上午10時在新竹縣政府文化局美術館105展廳舉行，誠摯邀請藝文愛好者踴躍參與。<br
        />\n<br />\n「新竹美展」自創辦以來已邁入第24屆，每年吸引不同年齡層與領域的藝術創作者共襄盛舉。近年來，主[...]
- request:
    method: get
    uri: https://webopenapi.hccg.gov.tw/v1/Activity?top=101
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"top:取前幾筆，最多100筆;","url":"https://webopenapi.hccg.gov.tw/v1/Activity"}'
  recorded_at: Sat, 18 Oct 2025 10:18:17 GMT
recorded_with: VCR 6.3.1
